@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

body {
  font-family: 'Roboto', sans-serif;
  background: rgb(35, 58, 58);
}
button {
  cursor: pointer;
}
a {
  text-decoration: none;
}
